.product-card {
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba($dark, 0.15);
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 10px 15px rgba($dark, 0.2);
        .product-card__add {
            color: $white;
            background: $primary;
            box-shadow: 0 10px 15px rgba($dark, 0.2);
            .product-card__add-icon {
                color: $white;
            }
        }
    }
    &__body {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__add {
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: absolute;
        top: -50px;
        right: 30px;
        background: $white;
        box-shadow: 0 5px 15px rgba($dark, 0.15);
        transition: all 0.3s ease;
        font-size: 35px;
        line-height: 1;
        &:hover {
            color: $white;
            background: $primary;
            box-shadow: 0 10px 25px rgba($dark, 0.2);
            .product-card__add-icon {
                color: $white;
            }
        }
        &-icon {
            margin: auto;
            color: $heading-text;
            transition: all 0.3s ease;
        }
    }
    &__sub-title {
        font-size: 14px;
        font-weight: 700;
    }
    &__title {
        display: block;
        font-family: $heading-font;
        font-size: 30px;
        font-weight: 700;
        color: $heading-text;
    }
}
